name: InSpec Check

on: [push, pull_request]

jobs:
  container:
    runs-on: ubuntu-latest
    container: chef/chefworkstation
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Get InSpec Version
        run: CHEF_LICENSE=accept inspec -v
      - name: Check the profile
        run: CHEF_LICENSE=accept inspec check .
